[[queries]]
chain = 1
desc = "Account's First Transactions"
events = []
sql = """
select
  block_timestamp::date,
  hash,
  "to",
  substring(input, 1, 4) as Æ’
from txs
where "from" = 0xd8da6bf26964af9d7eed9e03e53415d37aa96045
order by block_num asc
limit 5
"""

[[queries]]
chain = 7777777
desc = "Nested Tuples: Zora Sparked Comment"
events = [
    "SparkedComment(bytes32 indexed commentId, (address commenter,address contractAddress,uint256 tokenId,bytes32 nonce) commentIdentifier, uint256 sparksQuantity, address sparker, uint256 timestamp, address referrer)",
]
sql = """
select
commentIdentifier->>'commenter' as commenter,
commentIdentifier->>'contractAddress' as contractAddress,
commentIdentifier->>'tokenId' as tokenId,
sparker, timestamp, referrer
from sparkedcomment
limit 100
"""

[[queries]]
chain = 8453
desc = "SUM/CASE: ERC20 Token Balances for All Tokens in Wallet"
events = ["Transfer(address indexed from, address indexed to, uint256 value)"]
sql = """
select
  max(block_num) block,
  address token,
  sum(
    case
    when "from" = 0xB9621a707869d45A600acc2851418a1fe60500e7
    then -value
    when "to" = 0xB9621a707869d45A600acc2851418a1fe60500e7
    then value
    else 0
    end
  ) balance
from transfer
where (
  "to" = 0xB9621a707869d45A600acc2851418a1fe60500e7
  or "from" = 0xB9621a707869d45A600acc2851418a1fe60500e7
)
group by token
"""

[[queries]]
chain = 8453
desc = "ARRAYS: ERC-1155 Transfer Batch"
events = [
    "TransferBatch(address indexed operator, address indexed from, address indexed to, uint256[] ids, uint256[] amounts)",
]
sql = """
select
  log_idx,
  "from",
  "to",
  ids,
  amounts
from transferbatch
where block_num = 21258465
and log_idx = 4
"""

[[queries]]
chain = 8453
desc = "COUNT/DISTINCT: Unique Senders/Receivers of ERC-721 Transfers per Block"
events = [
    "Transfer(address indexed from, address indexed to, uint indexed tokenId)",
]
sql = """
select
  block_num,
  count(distinct(tx_hash)) transactions,
  count(distinct("from")) senders,
  count(distinct("to")) receivers
from transfer
group by block_num
order by block_num desc
limit 1
"""

[[queries]]
chain = 84532
desc = "SELF JOIN: ERC721 Current Token Holders"
events = [
    "Transfer(address indexed from, address indexed to, uint indexed tokenId)",
]
sql = """
select t1."to", t1.tokenId, t1.block_num
from transfer t1
left join transfer t2
on t1.tokenId = t2.tokenId
and t1.block_num < t2.block_num
and t1.address = t2.address
where t1.address = 0xE81b94b09B9dE001b75f2133A0Fb37346f7E8BA4
and t2.tokenId is null
"""

[[queries]]
chain = 8453
desc = "Fun: Base Name Registrations"
events = [
    "NameRegistered(string name, bytes32 indexed label, address indexed owner, uint256 expires)",
]
sql = """
select
    tx_hash,
    name,
    owner
from nameregistered
where address = 0x4ccb0bb02fcaba27e82a56646e81d8c5bc4119a5
order by block_num desc
limit 100
"""

[[queries]]
chain = 7777777
desc = "Fun: Zora Mint Comments from a Random User"
events = [
    "MintComment(address indexed sender, address indexed collection, uint256 indexed tokenId, uint256 quantity, string comment)",
]
sql = """
select comment
from mintcomment
where sender = 0x1d14d9e297dfbce003f5a8ebcf8cba7faee70b91
"""
