name: cargo test
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        name: Install rust
        with:
          toolchain: 1.83.0
      - name: Run initial test to setup PG
        run: cargo test -p shared --features test
      - name: Install pgrx system dependencies
        run: >
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list' &&
          curl -fsSL https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo gpg --dearmor -o /etc/apt/trusted.gpg.d/postgresql.gpg &&
          sudo apt install -y build-essential pkg-config libssl-dev postgresql-server-dev-17
      - name: Install pgrx
        run: cargo install --locked cargo-pgrx && cargo pgrx init --pg17 /tmp/golden-axe-pg-test/install/postgresql-17.2.0-x86_64-unknown-linux-gnu/bin/pg_config
      - name: Install PG extension
        run: >
          cd pg_golden_axe && cargo pgrx install
            -p pg_golden_axe
            -c /tmp/golden-axe-pg-test/install/postgresql-17.2.0-x86_64-unknown-linux-gnu/bin/pg_config
            -r
      - name: Run tests
        run: cargo test
